{% extends 'paginate.html' %}

{% block content %}
  <main class="recipe-grid">
    <div>
      <p>
     <a href="{% url 'mealplan_new' %}">Create New Meal Plan</a>
      </p>
  </div>
    {% for mealplan in mealplans %}
      <div class="recipe-card">
        <h2 class="recipe-card-title">
          <a href="{% url 'mealplan_detail' mealplan.pk %}">  
              {{ mealplan.name }}
          </a> 
        </h2>
        <p>{{ mealplan.date }}</p>
        <ul>
          {% for mealplanrecipe in mealplan.recipes.all %}
        <li>
          <a href="{% url 'recipe_detail' mealplanrecipe.pk %}">
          {{ mealplanrecipe }}
          </a>
        </li>
        {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </main>
  {% endblock content %}
